ALTER TABLE public.work_orders ADD COLUMN IF NOT EXISTS "technicianName" TEXT;
ALTER TABLE public.work_orders ADD COLUMN IF NOT EXISTS "technicianname" TEXT;
ALTER TABLE public.work_orders ADD COLUMN IF NOT EXISTS "laborcost" NUMERIC DEFAULT 0;
